<h1>Employee Dashboard</h1>
<nav class="navbar">
    <input class="form-control" type="text" name="name" [(ngModel)] ="name" (ngModelChange)="Search()"
    placeholder="Enter First Name to Search...">
    
    <span>Selected User: {{name | json}}</span>
</nav>
<!-- <app-input></app-input> -->
<table class="table table-boardered" >
    <thead>
        <tr>
            <th (click)="sort('id')">#Id&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('name')">First Name&nbsp;<i class="fa fa-sort"></i></th>
            <!-- <th>Name</th> -->
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | orderBy: key : reverse| paginate:{itemsPerPage:5,currentPage:p};">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <button type="button" class="btn btn-primary" (click)="deleteRow(user.id)">Delete</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" (click)="update(user.id)">Update</button> 
        </tr>
    </tbody>
    <pagination-controls (pageChange) = "p = $event"></pagination-controls>

</table>
<router-outlet></router-outlet>